<ion-view view-title="About Us" cache-view="false" >
     <!--<ion-nav-view name="menuContent"></ion-nav-view>-->
     
       <ion-content padding="true"  class="padding scroll-bg"> 
            <div class="spacer" style="height: 40px;"></div>
                <div class="bar bar-subheader">
                    <h2 class="title">Welcome to Kitaki</h2>
                </div>
            <div class="spacer" style="height: 40px;"></div>
               
            <div class="item item-body">
                <p style="text-align:justify">
            Who: We serve clients around the world and across industries. We work with well established businesses looking to fully leverage what the web has to offer. What do all our clients have in common? They are smart! They are run by growth-oriented leaders who care just as much about community, giving back, and listening to their customers as they do about bottom line profits. They are all on a mission to make this world a better place in their own way. They all recognize that the internet is an extremely powerful tool that can help skyrocket their businesses. They just aren’t always sure how to use the powerful tool. (Hint: If this sounds like you, we should chat.)<br/><br/>
                    
     Why: Because we LOVE what we do! Clichéd? Yes, but also 99% true. The other 1% comes from the fact that we rock at what we do. We understand the internet inside-out. More importantly, we also understand exactly how to use it to help companies take over the world (err…make more money). Luckily, we only use our powers for good.<br/><br/>

    Where: While we are online marketing firm based in Dallas, Texas, we are a virtual company with a 30 person team around the world. This works out nicely because we also have clients from New York to the Netherlands.<br/><br/>

    How: Through our magical ability to turn clicks into clients. Well, that… and social media marketing, search engine optimization, website design and conversion, content marketing, blog design and development, training, consulting, and speaking. Let’s just say when we say full-service we mean it.<br/><br/>

              Are you ready to take your business to the next level? Call us today at _______________ or<a href="contact.html"> <span class="design4">contact us</span> </a>here for more information about our online marketing services. Turn those clicks into clients.
                </p>
           </div>
    </ion-content>
</ion-view>