<ion-view view-title="Registration Form" cache-view="false" >
    <div class="bar bar-header bar-dark">
        <button class="button button-icon button-clear ion-android-arrow-back" ng-click="goBackToWelcome()">
        </button>
        <h1 class="title">User Registration</h1>
    </div>
    <form name="userRegForm"  class="">
        <ion-content class="has-header">
      
            <label class="item item-input">
                <label class="subdued positive">User Category</label>
                <select ng-model="user.category" 
                ng-options="cat.id as cat.name for cat in userCategory | orderBy: 'cat.name'"
                ng-change="categoryCheckerGo()" class="item item-select item-positive">
                <option value="" disabled default selected>-Select user category-</option>
                </select>
            </label>
            
           <!-- <div ng-show="user.category== 2 || user.category== 1 || user.category== 3" class="list list-inset">-->
            <div ng-show="user.category!= NULL" class="list list-inset" ng-form='buyerForm' name='buyerForm'>
                
                <label class="item item-input">
                    <span class="input-label">User Pic</span>
                    <img ng-src="data:image/jpeg;base64,{{imgURI}}" ng-show="imgURI !== undefined" ng-model="user.img_id">
                    <img ng-show="imgURI === undefined" ng-src="http://placehold.it/70x50">
                    <button class="button button-small button-outline  button-assertive"ng-click="addMedia()">
                            <i class="icon ion-ios-camera-outline"></i>
                    </button>
                </label>
                <label class="item item-input">
                    <span class="input-label">Shop Pic</span>
                    <img ng-src="data:image/jpeg;base64,{{imgURI_shop}}" ng-show="imgURI !== undefined" ng-model="user.img_id_shop">
                    <img ng-show="imgURI === undefined" ng-src="http://placehold.it/70x50">
                    <button class="button button-small button-outline  button-assertive"ng-click="addMedia_shop()">
                            <i class="icon ion-ios-camera-outline"></i>
                    </button>
                </label>
                
                <label class="item item-input"  ng-class="{ 'has-error-lr' : buyerForm.phoneNum.$invalid, 'valid' : buyerForm.phoneNum.$valid}">
                    <span class="input-label">Phone #</span>
                    <input type="tel" name="phoneNum"  ng-model="user.phone" placeholder="9999999"  minlength="10" maxlength="10" required>
                </label>
                <label class="item item-input" ng-class="{ 'has-error-lr' : buyerForm.fName.$invalid, 'valid-lr' : buyerForm.fName.$valid}">
                        <span class="input-label">Name</span>
                        <input type="text" placeholder="Mahesh" ng-model="user.firstName" name="fName" maxlength="50" required>
                </label>
                <label class="item item-input" ng-class="{ 'has-error-lr' : buyerForm.lName.$invalid, 'valid' : buyerForm.fName.$valid}">
                        <span class="input-label">Last Name</span>
                        <input type="text" placeholder="Raj" ng-model="user.lastName" name="lName" maxlength="50"  required>
                </label>
                
                   <label class="item item-input" ng-class="{ 'has-error-lr' : buyerForm.email.$invalid, 'valid-lr' : buyerForm.email.$valid}"> 
                    <span class="input-label">email</span>
                    <input type="Email" placeholder="email@example.com" ng-model="user.email"  name="email" required>
                </label>
            </div>
            <div ng-show="user.category == 1 || user.category == 3" class="list list-inset">

                <label class="item item-input" ng-class="{ 'has-error-lr' : userRegForm.dob.$dirty && userRegForm.dob.$invalid, 'valid' : userRegForm.dob.$valid}">
                    <span class="input-label">Date of Birth</span>
                    <input type="date" ng-model="user.dob" name="dob"  required>
                </label>
               <label  class="item item-radio" >
                    <span class="input-label"> Gender:</span> 
                    <!--<ion-radio ng-value="M" ng-model="user.gender" > Male </ion-radio>
                    <ion-radio ng-value="F" ng-model="user.gender"> Female </ion-radio>-->
                    <ion-radio ng-value="sex.id" ng-repeat="sex in gender" ng-model="user.gender"> {{sex.value}} </ion-radio>
                    
                </label>
                <label class="item item-input" ng-class="{ 'has-error-lr' : userRegForm.tin.$dirty && userRegForm.tin.$invalid, 'valid' : userRegForm.tin.$valid}">
                    <span class="input-label">TIN Number</span>
                    <input type="text" ng-model="user.tinNumber" placeholder="TIN Number" name="tin" ng-pattern="onlyNumbers" maxlength="10" required>
                </label>
                <label class="item item-input" ng-class="{ 'has-error-lr' : userRegForm.st.$invalid, 'valid' : userRegForm.st.$valid}">
                    <span class="input-label">ST Number</span>
                    <input type="text" ng-model="user.stNumber" placeholder="ST Number" name="st" ng-pattern="onlyNumbers" maxlength="10" required >
                </label>

                <label class="item item-input" ng-class="{ 'has-error-lr' : userRegForm.cst.$invalid, 'valid' : userRegForm.cst.$valid}">
                    <span class="input-label">CST Number</span>
                    <input type="text" ng-model="user.cstNumber" placeholder="CST Number" name="cst" ng-pattern="onlyNumbers" maxlength="10" required >
                </label>

                <label class="item item-input" ng-class="{ 'has-error-lr' : userRegForm.pan.$invalid, 'valid' : userRegForm.pan.$valid}">
                    <span class="input-label">PAN Number</span>
                    <input type="text" ng-model="user.panNumber" placeholder="PAN " name="pan" maxlength="10" required>
                </label>

                <label class="item item-input" ng-class="{ 'has-error-lr' : userRegForm.uid.$invalid, 'valid' : userRegForm.uid.$valid}">
                    <span class="input-label">UID Number</span>
                    <input type="text" ng-model="user.uidNumber" placeholder="UID" name="uid" maxlength="10" required >
                </label>

                <!--<label class="item item-input">
                    <span class="input-label">Photo</span>
                    <input type="text" ng-model="user.photo" placeholder="Upload your image">
                </label>-->
                
            </div> 
            <!--<input type="submit" class="button button-block" value="Save"/>
            <a href="#/tab/dash" class="button button-block">Cancel</a>-->
  
        <!--<div class="bar bar-footer bar-gray"  ng-show="user.category== 'buyer' || user.category== 'seller' || user.category== 'both'">
          <div class="buttons" ng-click="">
            <button class="button button-stable">Cancel</button>
          </div>
          <h1 class="title"></h1>
          <div class="buttons" ng-click="registerUser(user)">
            <button class="button button-balanced">Save</button>
          </div>
        </div>--> 
          
             <!--form = {{user | json}}-->
     </ion-content>
     
    <ion-footer-bar align-title="left" class="bar bar-footer bar-stable" ng-show="user.category != null">
       
         <div class="buttons" ng-click="">
            <button class="button button-stable" type="reset" ng-click="clearUserRegForm()">Cancel</button>
          </div>
          <h6 class="title"></h6>
          <div class="buttons" ng-click="registerUser(user)" >
            <button class="button button-balanced" ng-show="user.category == 2"  type="submit" ng-disabled="userRegForm.buyerForm.$invalid" >Save</button>
          
            <button class="button button-balanced" ng-show="user.category == 1 ||user.category == 3  "  type="submit" ng-disabled="userRegForm.$invalid">Save</button>
          </div>
         <!--<div class="buttons" ng-click="registerUser(user)" ng-show="user.category == 1 || user.category == 3 "  >
            <button class="button button-balanced" type="submit" ng-disabled="userRegForm.$invalid"  >Save</button>
          </div>-->
    </ion-footer-bar>
    </form>
</ion-view>