<ion-view view-title="Select a shop to order" hide-back-button="true" cache-view="false">
    <ion-nav-view name="menuContent"></ion-nav-view>
    
    <ion-content >
     <div class="spacer" style="height: 10px;"></div>
      <ion-item class="row responsive row-center" ng-repeat="row in sellersAssociated"  ng-if="$index % 2 === 0" >
        <div class="col col-50 col-center item item-image" ng-if="$index < sellersAssociated.length"  >
           <!-- <label class="item item-clear" ng-style="{'line-height': 3 + 'px'}">-->
                 <label class="subdued dark">{{sellersAssociated[$index].shop_name | uppercase}}
                    <button class="button button-clear icon ion-heart button-clear  "  ng-click="addFavSeller(sellersAssociated[$index].uid,sellersAssociated[$index].buyer_uid)">
                    </button>
                </label><!--</span>-->
            <!--</label>-->
            <div class="row" ng-click="pickProducts(sellersAssociated[$index].shop_name,sellersAssociated[$index].uid,sellersAssociated[$index].buyer_uid)">
                <img data-ng-src="{{ sellersAssociated[$index].imgpath}}">
            </div>
        </div>
        <div class="col col-50 col-center item item-image" ng-if="$index+1 < sellersAssociated.length" >
                <span class="positive"> {{sellersAssociated[$index+1].shop_name | uppercase}}
                    <button class="button button-clear icon ion-heart button-clear  "  ng-click="addFavSeller(sellersAssociated[$index+1].uid,sellersAssociated[$index+1].buyer_uid)">
                    </button>
                </span>
            
            <div class="row" ng-click="pickProducts(sellersAssociated[$index+1].shop_name,sellersAssociated[$index+1].uid,sellersAssociated[$index+1].buyer_uid)"><img data-ng-src="{{ sellersAssociated[$index+1].imgpath}}"> </div>
        </div>
      </ion-item>
      </ion-content>

</ion-view>
