/* Empty. Add your own CSS if you like */
.item-header {
  font-size: 10px !important;
  font-weight: bold;
}
.col{

border: none;
}

.row{

border: none;
}

.item-footer {
  font-size: 10px !important;
  font-weight: bold;
  
  /* the workaround below "fixes" the scrolling */
  margin-bottom: 28px !important;
}

.col-right {
  text-align: right;
  padding: 3px 5px 3px 5px !important;
}

.col-sep {
  border-left: 1px solid lightgray;
  border-bottom: 1px solid darkgray;
}

.col-left {
  padding: 3px 5px 3px 5px !important;
  text-align: left;
}

.min-5 { min-width: 5px; }
.min-10 { min-width: 10px;}
.min-20 { min-width: 20px; }
.min-75 { min-width: 75px; }
.min-50 { min-width: 50px; }
.min-100 { min-width: 100px; }
.min-705 { min-width: 705px; }

.row-item {
  padding: 0px !important;
  margin-left: 0 !important;
  font-size: 10px !important;
  text-align: left;
 
}

.row.full{
  height:100% !important;
}
.scroll-view{
  height:100% !important;
  height: 100% !important;
  position: absolute !important;
  width: 24%;
}
.scroll{height: 100%;}

.my-item {
  padding-top: 0;
  padding-bottom: 0;
    height: 60% !important;
}
.bgColor:hover {
    cursor: pointer;
  background-color: #9f9 !important;
}
.home{
    background: url(../img/welcome_kitaki.jpg) no-repeat center center fixed;
    background-size: cover !important;
  }

.pinButton {
    border-radius: 100px solid black; 
    background: lightblue;
}
/*style="border-radius: 100px; border: 2px solid black; background : lightgrey;"*/
p {
  text-align: center;
  margin-bottom: 40px !important;
}
.spinner svg {
  width: 19% !important;
  height: 50px !important;
  stroke: #444;
  fill: lightblue;
}
center-vertical {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
 
.center-vertical > * {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

/* For User Registration Page*/
label.item.has-error {  
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr{  
  border-left: 2px solid red;
  border-right: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {  
  border-left: 2px solid green;
  border-right: 2px solid green;
}

input[type=number].ng-valid.ng-dirty {
  /*background-color: #78FA89;*/
}

input[type=number].ng-invalid.ng-dirty {
  background-color: #FA787E;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

label#rounded{border-radius:30px; border-color: lightgrey }
label#rounded1{border-radius:10px; border-color: lightgrey;padding-left: none ;padding: none;min-width: inherit }

/*Modal animations*/
.mh-slide.ng-enter, .mh-slide > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}

.mh-slide.ng-enter-active, .mh-slide > .ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 2;
}

.mh-slide.ng-leave, .mh-slide > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; 
}
/*.scroll-bg {
  background: url($big-bg) no-repeat center center fixed;
  background-size: cover;
}*/
.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
    border-color: #ccc;
    background-color: #00FF66; 
}
.descEllip {
    height: 40px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    background: transparent;
}
.image-list-thumb {
    padding: 10px 10px 10px 10px;
    height: 100px;
}
/*//For Product Management Search Clear button*/
.button.button-icon.input-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: #bbb;
}
.odd {
    background-color: #FFF;
}
.even {
    background-color: #ccc;
}
